.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #f5f7fa;
  min-height: 100%;

}

.formContainer {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;

  max-height: 550px;
  margin-right: 50px;
}
.title {
  margin-bottom: 20px;
  color: #333; 
}

.formLabel {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.formControl {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.25rem;
}

.formGroup {
  margin: 1rem 0;
}

.btnPrimary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPrimary:hover {
  background-color: #0056b3;
}

.my2 {
  margin: 0.5rem 0;
}