body {
  background-color: #f5f7fa;
  margin: 0;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f5f7fa;
 height: 100%;
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px; /* Add margin for spacing */
}

.button:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex; /* Arrange buttons in a row */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
}

.spinner {
  font-size: 20px; /* Adjust font size for visibility */
  animation: blink 1s infinite; /* Blink animation */
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@media (max-width: 800px) {
  .formsContainer {
    flex-direction: column;
    width: 400px;
  }
}