

.backButton {
  display: inline-flex;
  align-items: center; 
  padding: 10px 20px; 

  color:  blue;
  text-decoration: none; 
  border: none; 
  border-radius: 5px;
  font-size: 16px; 
  transition: background-color 0.3s; 
}

.backButton:hover {
  background-color:#007bff;
  color: white; 
}

.backButton svg {
  font-size: 24px; 
  margin-right: 8px; 
}